{"swagger":"2.0","info":{"title":"shubAstro APIs","version":"1.0.5","description":"shubAstro APIs power user-astrologer interactions, orders, and payments.\nIncludes chat, call sessions, kundli, blogs, and utility endpoints for the platform."},"host":"devapi-shubhtalk.epicon.in","basePath":"/api","schemes":["https"],"securityDefinitions":{"BearerAuth":{"type":"apiKey","name":"Authorization","in":"header","description":"Enter your Bearer token in the format: Bearer <token>"}},"paths":{"/getUploadUrl":{"get":{"tags":["Uploads"],"summary":"Get S3 presigned upload URL","description":"","parameters":[{"name":"fileType","in":"query","required":true,"type":"string","description":"MIME type (e.g. image/jpeg)"},{"name":"folder","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"500":{"description":"Internal Server Error"}}}},"/socket-events":{"get":{"tags":["Realtime"],"summary":"Socket.IO events (Chat, Audio/Video Call, Live Streaming)","description":"This is a documentation-only endpoint describing Socket.IO events and payloads.","responses":{"200":{"description":"Socket event reference","schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"chat":{"type":"object","properties":{"client_to_server":{"type":"object","properties":{"chat:initiate":{"type":"object","properties":{"userId":{"type":"string","example":"ObjectId"},"astrologerId":{"type":"string","example":"ObjectId"},"type":{"type":"string","example":"chat"},"isEmergency":{"type":"boolean","example":false}}},"chat:accept":{"type":"object","properties":{"roomId":{"type":"string","example":"room-..."},"acceptedBy":{"type":"string","example":"ASTROLOGER"}}},"chat:reject":{"type":"object","properties":{"roomId":{"type":"string","example":"room-..."},"rejectedBy":{"type":"string","example":"ASTROLOGER"}}},"chat:cancel":{"type":"object","properties":{"roomId":{"type":"string","example":"room-..."},"canceledBy":{"type":"string","example":"CUSTOMER"}}},"chat:message":{"type":"object","properties":{"roomId":{"type":"string","example":"room-..."},"type":{"type":"string","example":"message"},"sender":{"type":"string","example":"user|astrologer"},"message":{"type":"string","example":"Hello"}}},"chat:end":{"type":"object","properties":{"roomId":{"type":"string","example":"room-..."},"endedBy":{"type":"string","example":"CUSTOMER|ASTROLOGER"}}},"chat:reconnect":{"type":"object","properties":{"roomId":{"type":"string","example":"room-..."},"userId":{"type":"string","example":"ObjectId"},"astrologerId":{"type":"string","example":"ObjectId"}}},"activity:update":{"type":"object","properties":{"roomId":{"type":"string","example":"room-..."},"activity":{"type":"string","example":"typing|idle"},"sender":{"type":"string","example":"user|astrologer"}}}}},"server_to_client":{"type":"object","properties":{"chat:room":{"type":"object","properties":{"roomId":{"type":"string","example":"room-..."},"sessionId":{"type":"string","example":"ObjectId"},"status":{"type":"string","example":"ringing|waiting"},"type":{"type":"string","example":"chat"}}},"chat:accepted":{"type":"object","properties":{"roomId":{"type":"string","example":"room-..."},"userId":{"type":"string","example":"ObjectId"},"astrologerId":{"type":"string","example":"ObjectId"},"remainingTime":{"type":"number","example":120}}},"chat:rejected":{"type":"object","properties":{"sessionData":{"type":"object","properties":{}},"type":{"type":"string","example":"chat"}}},"chat:canceled":{"type":"object","properties":{"sessionData":{"type":"object","properties":{}},"type":{"type":"string","example":"chat"}}},"chat:ended":{"type":"object","properties":{"roomId":{"type":"string","example":"room-..."},"endedBy":{"type":"string","example":"CUSTOMER|ASTROLOGER|SYSTEM"},"endReason":{"type":"string","example":"no-reason"}}},"chat:reconnected":{"type":"object","properties":{"active":{"type":"boolean","example":true},"remainingTime":{"type":"number","example":120},"roomId":{"type":"string","example":"room-..."}}},"message:recieved":{"type":"object","properties":{"roomId":{"type":"string","example":"room-..."},"sender":{"type":"string","example":"user|astrologer"},"message":{"type":"string","example":"Hello"}}},"chat_ended_due_to_low_balance":{"type":"object","properties":{}}}}}},"call":{"type":"object","properties":{"client_to_server":{"type":"object","properties":{"call:initiate":{"type":"object","properties":{"userId":{"type":"string","example":"ObjectId"},"astrologerId":{"type":"string","example":"ObjectId"},"type":{"type":"string","example":"audio|video"},"isEmergency":{"type":"boolean","example":false},"isSwitch":{"type":"boolean","example":false},"roomId":{"type":"string","example":"room-..."}}},"call:accept":{"type":"object","properties":{"roomId":{"type":"string","example":"room-..."},"acceptedBy":{"type":"string","example":"ASTROLOGER"}}},"call:reject":{"type":"object","properties":{"roomId":{"type":"string","example":"room-..."},"rejectedBy":{"type":"string","example":"ASTROLOGER"}}},"call:cancel":{"type":"object","properties":{"roomId":{"type":"string","example":"room-..."},"canceledBy":{"type":"string","example":"CUSTOMER"}}},"call:end":{"type":"object","properties":{"roomId":{"type":"string","example":"room-..."},"endedBy":{"type":"string","example":"CUSTOMER|ASTROLOGER"}}},"call:reconnect":{"type":"object","properties":{"roomId":{"type":"string","example":"room-..."},"userId":{"type":"string","example":"ObjectId"},"astrologerId":{"type":"string","example":"ObjectId"},"callType":{"type":"string","example":"audio|video"}}}}},"server_to_client":{"type":"object","properties":{"incoming":{"type":"object","properties":{"roomId":{"type":"string","example":"room-..."},"callerId":{"type":"string","example":"ObjectId"},"type":{"type":"string","example":"audio|video"}}},"call:room":{"type":"object","properties":{"roomId":{"type":"string","example":"room-..."},"sessionId":{"type":"string","example":"ObjectId"},"status":{"type":"string","example":"ringing|waiting"},"type":{"type":"string","example":"audio|video"},"agoraToken":{"type":"string","example":"token"}}},"call:accepted":{"type":"object","properties":{"roomId":{"type":"string","example":"room-..."},"token":{"type":"string","example":"agoraToken"},"type":{"type":"string","example":"audio|video"},"remainingTime":{"type":"number","example":120}}},"call:rejected":{"type":"object","properties":{"sessionData":{"type":"object","properties":{}},"type":{"type":"string","example":"audio|video"}}},"call:canceled":{"type":"object","properties":{"sessionData":{"type":"object","properties":{}},"type":{"type":"string","example":"audio|video"}}},"call:ended":{"type":"object","properties":{"roomId":{"type":"string","example":"room-..."},"endedBy":{"type":"string","example":"CUSTOMER|ASTROLOGER|SYSTEM"},"endReason":{"type":"string","example":"no-reason"},"chatResumed":{"type":"boolean","example":true}}},"call:reconnected":{"type":"object","properties":{"active":{"type":"boolean","example":true},"agoraToken":{"type":"string","example":"token"},"remainingTime":{"type":"number","example":120},"roomId":{"type":"string","example":"room-..."},"type":{"type":"string","example":"audio|video"}}}}}}},"live":{"type":"object","properties":{"client_to_server":{"type":"object","properties":{"live:create_room":{"type":"object","properties":{"roomId":{"type":"string","example":"live-..."},"hostId":{"type":"string","example":"ObjectId"},"hostName":{"type":"string","example":"Name"},"hostType":{"type":"string","example":"astrologer"}}},"live:join_room":{"type":"object","properties":{"roomId":{"type":"string","example":"live-..."},"userId":{"type":"string","example":"ObjectId"},"userName":{"type":"string","example":"Name"},"userType":{"type":"string","example":"audience"}}},"live:send_message":{"type":"object","properties":{"roomId":{"type":"string","example":"live-..."},"userId":{"type":"string","example":"ObjectId"},"userName":{"type":"string","example":"Name"},"message":{"type":"string","example":"Hello"},"userType":{"type":"string","example":"audience"}}},"live:leave_room":{"type":"object","properties":{"roomId":{"type":"string","example":"live-..."},"userId":{"type":"string","example":"ObjectId"},"userName":{"type":"string","example":"Name"}}},"live:end_room":{"type":"object","properties":{"roomId":{"type":"string","example":"live-..."},"hostId":{"type":"string","example":"ObjectId"}}}}},"server_to_client":{"type":"object","properties":{"live:room_created":{"type":"object","properties":{"success":{"type":"boolean","example":true},"roomId":{"type":"string","example":"live-..."}}},"live:recent_messages":{"type":"object","properties":{"messages":{"type":"array","example":[],"items":{}}}},"live:session_started":{"type":"object","properties":{"roomId":{"type":"string","example":"live-..."}}},"live:joined":{"type":"object","properties":{"success":{"type":"boolean","example":true},"roomId":{"type":"string","example":"live-..."},"participantCount":{"type":"number","example":0},"userId":{"type":"string","example":"ObjectId|guest-uuid"},"userName":{"type":"string","example":"Server-assigned name (e.g. 'Guest 5057')"},"isGuest":{"type":"boolean","example":false}}},"live:user_joined":{"type":"object","properties":{"userId":{"type":"string","example":"ObjectId"},"participantCount":{"type":"number","example":1}}},"live:message":{"type":"object","properties":{"roomId":{"type":"string","example":"live-..."},"userId":{"type":"string","example":"ObjectId"},"message":{"type":"string","example":"Hello"}}},"live:user_left":{"type":"object","properties":{"userId":{"type":"string","example":"ObjectId"},"participantCount":{"type":"number","example":0}}},"live:room_ended":{"type":"object","properties":{"roomId":{"type":"string","example":"live-..."},"message":{"type":"string","example":"Live session has ended"}}},"live:session_ended":{"type":"object","properties":{"roomId":{"type":"string","example":"live-..."}}},"live:astrologer_status":{"type":"object","properties":{"status":{"type":"string","example":"started|ended"},"roomId":{"type":"string","example":"live-..."}}},"live:error":{"type":"object","properties":{"message":{"type":"string","example":"Error message"},"code":{"type":"string","example":"BAD_REQUEST"}}}}}}}}}},"xml":{"name":"main"}}}}}},"/chat/messages":{"get":{"tags":["Chat"],"summary":"Get chat messages","description":"","parameters":[{"name":"sortOrder","in":"query","type":"string"},{"name":"month","in":"query","type":"string"},{"name":"year","in":"query","type":"string"},{"name":"page","in":"query","type":"string"},{"name":"limit","in":"query","type":"string"},{"name":"fromDate","in":"query","type":"string"},{"name":"toDate","in":"query","type":"string"},{"name":"minAmount","in":"query","type":"string"},{"name":"maxAmount","in":"query","type":"string"},{"name":"astrologerId","in":"query","required":false,"type":"string"},{"name":"userId","in":"query","required":false,"type":"string"},{"name":"roomId","in":"query","required":false,"type":"string"}],"responses":{"default":{"description":""}}}},"/chat/messages/inbox":{"get":{"description":"","parameters":[],"responses":{"default":{"description":""}}}},"/chat/messages/inbox/{recieverId}":{"get":{"description":"","parameters":[{"name":"recieverId","in":"path","required":true,"type":"string"},{"name":"isAssistant","in":"query","type":"string"},{"name":"page","in":"query","type":"string"},{"name":"limit","in":"query","type":"string"}],"responses":{"default":{"description":""}}}},"/chat/room/create":{"post":{"tags":["Chat"],"summary":"Create chat room","description":"","parameters":[{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"userId":{"type":"string","example":"user_123"},"astrologerId":{"type":"string","example":"astro_123"}}}}],"responses":{"default":{"description":""}}}},"/chat/messages/create":{"post":{"description":"","parameters":[{"name":"body","in":"body","schema":{"type":"object","properties":{"astrologerId":{"example":"any"},"userId":{"example":"any"},"message":{"example":"any"},"type":{"example":"any"},"sender":{"example":"any"},"attachmentLink":{"example":"any"},"parentType":{"example":"any"},"kundliId":{"example":"any"},"roomId":{"example":"any"},"productIds":{"example":"any"},"isAssistant":{"example":"any"}}}}],"responses":{"default":{"description":""}}}},"/chat/messages/all":{"get":{"tags":["Chat"],"summary":"Get chat history","description":"Fetch chat session history grouped by roomId, with filters for date range and amount. Returns totalDuration in seconds.","parameters":[{"name":"userId","in":"query","required":false,"type":"string","description":"Filter by user ObjectId","example":"664f1b2c8e4b2a001c8d1234"},{"name":"astrologerId","in":"query","required":false,"type":"string","description":"Filter by astrologer ObjectId","example":"664f1b2c8e4b2a001c8d5678"},{"name":"roomId","in":"query","required":false,"type":"string","description":"Filter by room ID (chat session room identifier)","example":"room-abc123"},{"name":"fromDate","in":"query","required":false,"type":"string","description":"Start date for custom date range (YYYY-MM-DD). Must be used together with toDate.","example":"2026-01-01"},{"name":"toDate","in":"query","required":false,"type":"string","description":"End date for custom date range (YYYY-MM-DD). Must be used together with fromDate.","example":"2026-01-31"},{"name":"month","in":"query","required":false,"type":"string","description":"Filter by month name or number (e.g. January, Jan, 1). Ignored if fromDate/toDate is provided.","example":"January"},{"name":"year","in":"query","required":false,"type":"integer","description":"Filter by year (e.g. 2026). Can be used with month or alone to fetch the full year.","example":2026},{"name":"minAmount","in":"query","required":false,"type":"number","description":"Minimum billed amount for the chat session (inclusive)","example":50},{"name":"maxAmount","in":"query","required":false,"type":"number","description":"Maximum billed amount for the chat session (inclusive)","example":500},{"name":"sortOrder","in":"query","required":false,"type":"string","enum":["asc","desc","price_asc","price_desc"],"description":"Sort chat history. asc = oldest first, desc = newest first, price_asc = lowest billed amount first, price_desc = highest billed amount first. Default: desc","example":"price_asc"},{"name":"page","in":"query","required":false,"type":"integer","default":1,"description":"Page number for pagination","example":1},{"name":"limit","in":"query","required":false,"type":"integer","default":30,"description":"Number of records per page","example":30}],"responses":{"default":{"description":""}}}},"/chat/messages/remedies/inbox/{receiverId}":{"get":{"description":"","parameters":[{"name":"receiverId","in":"path","required":true,"type":"string"},{"name":"page","in":"query","type":"string"},{"name":"limit","in":"query","type":"string"}],"responses":{"default":{"description":""}}}},"/orders/create":{"post":{"tags":["Orders"],"summary":"Create order","description":"","parameters":[{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"planId":{"type":"string","example":"plan_123"},"paymentGateway":{"type":"string","example":"RAZORPAY"},"device":{"type":"string","example":"web"},"country":{"type":"string","example":"INDIA"}}}}],"responses":{"default":{"description":""}}}},"/orders/update":{"put":{"tags":["Orders"],"summary":"Update order","description":"","parameters":[{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"orderId":{"type":"string","example":"order_123"},"orderStatus":{"type":"string","example":"completed"},"paymentGateway":{"type":"string","example":"RAZORPAY"}}}}],"responses":{"default":{"description":""}}}},"/users/registerUser":{"post":{"tags":["Users"],"summary":"Register user profile","description":"","parameters":[{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"firstName":{"type":"string","example":"John"},"lastName":{"type":"string","example":"Doe"},"dateOfBirth":{"type":"string","example":"1990-01-01"},"time":{"type":"string","example":"10:30"},"place":{"type":"string","example":"Delhi"},"phoneNumber":{"type":"string","example":"911234567890"},"password":{"type":"string","example":"password123"},"email":{"type":"string","example":"john@example.com"},"gender":{"type":"string","example":"male"},"languagePreferences":{"type":"array","items":{"type":"object","properties":{"languageName":{"type":"string","example":"Hindi"},"proficiencyLevel":{"type":"string","example":"Native"}}}},"role":{"type":"string","example":"CUSTOMER"},"lat":{"type":"number","example":28.6},"lon":{"type":"number","example":77.2}}}}],"responses":{"default":{"description":""}}}},"/users/loginUser":{"post":{"tags":["Users"],"summary":"Login user (send OTP)","description":"","parameters":[{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"phoneNumber":{"type":"string","example":"911234567890"},"type":{"type":"string","example":"CUSTOMER"}}}}],"responses":{"default":{"description":""}}}},"/users/logout":{"post":{"tags":["Users"],"summary":"Logout user","description":"Logs out the current device. Send deviceType to revoke the FCM token for that device only; voipToken is always cleared. Omitting deviceType skips FCM revocation.","parameters":[{"name":"body","in":"body","required":false,"schema":{"type":"object","properties":{"deviceType":{"type":"string","example":"mobile-ios"}}}}],"responses":{"default":{"description":""}}}},"/users/account":{"delete":{"tags":["Users"],"summary":"Delete customer account","description":"Soft deletes the authenticated customer account, clears push tokens, revokes sessions, and frees phone/email for future registration.","parameters":[{"name":"body","in":"body","required":false,"schema":{"type":"object","properties":{"reason":{"type":"string","example":"No longer using the app"}}}}],"responses":{"default":{"description":""}}}},"/users/verifyOtp":{"post":{"tags":["Users"],"summary":"Verify OTP","description":"","parameters":[{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"phoneNumber":{"type":"string","example":"917026868222"},"otp":{"type":"string","example":"123456"},"type":{"type":"string","example":"CUSTOMER"},"fcmTokens":{"type":"string","example":"G1CP1daiSwewypXKrtqA80:APA91bG-bcolEn-UrtQ0iHONNysXyH5SHhKyOeEVfUWq71nvCNXA9hvm01bf2mqySiQRPnp5DmPRqd4vDuN0q2cdm7mGPfrMTFHcLDm5GARkERN8u34_g8Q"},"deviceType":{"type":"string","example":"mobile-ios"}}}}],"responses":{"200":{"description":"OK"}}}},"/users/truecallerLogin":{"post":{"tags":["Users"],"summary":"Login via Truecaller SDK (no OTP)","description":"Logs the user in directly using the Truecaller SDK profile sent by the app. No OTP is sent or verified. If the user does not exist they are created (same as verifyOtp). The raw Truecaller profile is stored in a separate collection. Response shape matches /verifyOtp.","parameters":[{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"phoneNumber":{"type":"string","example":"7026868222"},"countryCode":{"type":"string","example":"91"},"type":{"type":"string","example":"CUSTOMER"},"firstName":{"type":"string","example":"John"},"lastName":{"type":"string","example":"Doe"},"email":{"type":"string","example":"john@example.com"},"gender":{"type":"string","example":"male"},"avatarURL":{"type":"string","example":"https://..."},"isVerified":{"type":"boolean","example":true},"isAmbassador":{"type":"boolean","example":false},"payload":{"type":"string","example":"base64Payload"},"signature":{"type":"string","example":"signature"},"signatureAlgorithm":{"type":"string","example":"SHA512withRSA"},"fcmTokens":{"type":"string","example":"fcm-token-here"},"deviceType":{"type":"string","example":"mobile-ios"}}}}],"responses":{"200":{"description":"OK"}}}},"/users/resendOtp":{"post":{"tags":["Users"],"summary":"Resend OTP","description":"","parameters":[{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"phoneNumber":{"type":"string","example":"911234567890"},"type":{"type":"string","example":"CUSTOMER"}}}}],"responses":{"default":{"description":""}}}},"/users/profile":{"get":{"tags":["Users"],"summary":"Get user profile","description":"","parameters":[],"responses":{"default":{"description":""}}},"put":{"tags":["Users"],"summary":"Update user profile","description":"Update user profile data including interests, name, email, etc.","parameters":[{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"firstName":{"type":"string","example":"John"},"lastName":{"type":"string","example":"Doe"},"email":{"type":"string","example":"john@example.com"},"gender":{"type":"string","example":"male"},"dateOfBirth":{"type":"string","example":"1990-01-01"},"place":{"type":"string","example":"Delhi"},"timezone":{"type":"string","example":"Asia/Kolkata"},"languagePreferences":{"type":"array","items":{"type":"object","properties":{"languageName":{"type":"string","example":"Hindi"},"proficiencyLevel":{"type":"string","example":"Native"}}}},"interests":{"type":"array","example":["Love & Relationships","Career & Growth","Health & Well-Being"],"items":{"type":"string"}}}}}],"responses":{"default":{"description":""}}}},"/users/refreshToken":{"post":{"tags":["Users"],"summary":"Refresh access token","description":"","parameters":[],"responses":{"200":{"description":"OK"}}}},"/users/all":{"get":{"tags":["Users"],"summary":"Get all users","description":"","responses":{"default":{"description":""}}}},"/users/voip-token":{"post":{"tags":["Users"],"summary":"Register VoIP token for iOS push notifications","description":"Register VoIP device token for receiving incoming call notifications on iOS when app is in background","parameters":[{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"voipToken":{"type":"string","example":"your-voip-device-token-from-ios"}}}}],"responses":{"default":{"description":""}}}},"/users/check-username-exist":{"get":{"tags":["Users"],"summary":"Check username availability and generate suggestions","description":"Generate unique username suggestions based on firstName and lastName. Optionally check if a specific username (input) is available.","parameters":[{"name":"firstName","in":"query","required":true,"type":"string","description":"User first name","example":"John"},{"name":"lastName","in":"query","required":true,"type":"string","description":"User last name","example":"Doe"},{"name":"input","in":"query","required":false,"type":"string","description":"Optional - Check if this specific username is available","example":"johndoe123"}],"responses":{"default":{"description":""}}}},"/users/active-sessions":{"get":{"tags":["Users"],"summary":"Get active device sessions","description":"Returns a list of all currently active device sessions for the authenticated user. Each entry shows device_id, deviceInfo, date, and whether it is the current device.","parameters":[],"responses":{"200":{"description":"OK"}}}},"/users/logout-device":{"post":{"tags":["Users"],"summary":"Remotely logout a specific device","description":"Logout a specific device session by device_id. Frees up a device slot for new login.","parameters":[{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"device_id":{"type":"string","example":"1721234567890"}}}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"404":{"description":"Not Found"}}}},"/users/agora/webhook":{"post":{"tags":["Live Users"],"summary":"Agora webhook callback","description":"","parameters":[{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"event":{"type":"string","example":"channel_ended"},"payload":{"type":"object","properties":{}}}}}],"responses":{"200":{"description":"OK"},"403":{"description":"Forbidden"},"500":{"description":"Internal Server Error"}}},"get":{"tags":["Live Users"],"summary":"Agora webhook verification","description":"","responses":{"200":{"description":"OK"}}}},"/users/live-users":{"get":{"tags":["Live Users"],"summary":"Get live users","description":"","responses":{"default":{"description":""}}}},"/users/live/token":{"post":{"tags":["Live Users"],"summary":"Generate live stream token (astrologer)","description":"Returns a broadcaster token and channel name for starting a live stream.","parameters":[],"responses":{"default":{"description":""}}}},"/users/live/reconnect-token":{"post":{"tags":["Live Users"],"summary":"Generate live stream token (reconnect)","description":"Returns a token for an existing live channel without creating a new session.","parameters":[{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"channel":{"type":"string","example":"room-1234"},"role":{"type":"string","example":"subscriber"}}}}],"responses":{"default":{"description":""}}}},"/users/live/refresh-token":{"post":{"tags":["Live Users"],"summary":"Refresh live stream token","description":"Returns a refreshed token for an active channel.","parameters":[{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"channel":{"type":"string","example":"room-1234"},"uid":{"type":"number","example":12345},"role":{"type":"string","example":"subscriber"}}}}],"responses":{"default":{"description":""}}}},"/users/live/token/viewer":{"post":{"tags":["Live Users"],"summary":"Generate live stream token (viewer)","description":"Returns an audience token for a given live channel.","parameters":[{"name":"x-guest-id","in":"header","type":"string"},{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"channel":{"type":"string","example":"room-1234"}}}}],"responses":{"default":{"description":""}}}},"/users/live/stop":{"post":{"tags":["Live Users"],"summary":"Stop live stream (astrologer)","description":"Ends the live stream and clears live presence for the channel.","parameters":[{"name":"body","in":"body","required":false,"schema":{"type":"object","properties":{"channel":{"type":"string","example":"room-1234"}}}}],"responses":{"default":{"description":""}}}},"/plans/create":{"post":{"tags":["Plans"],"summary":"Create plan","description":"","parameters":[{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"name":{"type":"string","example":"Quarterly"},"status":{"type":"boolean","example":true},"offerPrice":{"type":"number","example":17250},"discountedPrice":{"type":"number","example":2250},"actualPrice":{"type":"number","example":15000},"currency":{"type":"string","example":"INR"},"title":{"type":"object","properties":{"head":{"type":"string","example":"PREMIUM"},"title":{"type":"string","example":"MEMBERSHIP"}}},"gst":{"type":"number","example":18},"region":{"type":"string","example":"IN"},"device":{"type":"string","example":"web"}}}}],"responses":{"default":{"description":""}}}},"/plans/plan":{"get":{"tags":["Plans"],"summary":"Get single plan","description":"","parameters":[{"name":"planId","in":"query","required":true,"type":"string","description":"_id of plan"}],"responses":{"200":{"description":"OK"}}}},"/plans/all":{"get":{"tags":["Plans"],"summary":"Get all plans","description":"","responses":{"default":{"description":""}}}},"/transactions/transaction":{"get":{"tags":["Transactions"],"summary":"Get single transaction","description":"","parameters":[{"name":"transactionId","in":"query","required":true,"type":"string"}],"responses":{"default":{"description":""}}}},"/transactions/all":{"get":{"tags":["Transactions"],"summary":"Get all transactions for user","description":"","parameters":[{"name":"filterBy","in":"query","type":"string"},{"name":"customFromDate","in":"query","type":"string"},{"name":"customToDate","in":"query","type":"string"},{"name":"search","in":"query","type":"string"},{"name":"dateRange","in":"query","type":"string"},{"name":"consultations","in":"query","type":"string"},{"name":"roomId","in":"query","type":"string"},{"name":"minPrice","in":"query","type":"string"},{"name":"maxPrice","in":"query","type":"string"},{"name":"transactionType","in":"query","type":"string"},{"name":"page","in":"query","required":false,"type":"integer","description":"Page number for pagination (default: 1)","example":1},{"name":"limit","in":"query","required":false,"type":"integer","description":"Number of items per page (default: 50)","example":50},{"name":"sortBy","in":"query","required":false,"type":"string","enum":["latestFirst","oldestFirst","highestPrice","lowestPrice","longestDuration","shortestDuration"],"description":"Sort transactions by specified criteria (default: latestFirst)"}],"responses":{"default":{"description":""}}}},"/transactions/allAstroTransactions":{"get":{"tags":["Transactions"],"summary":"Get all transactions for astrologer","description":"","parameters":[{"name":"filterBy","in":"query","type":"string"},{"name":"customFromDate","in":"query","type":"string"},{"name":"customToDate","in":"query","type":"string"},{"name":"search","in":"query","type":"string"},{"name":"dateRange","in":"query","type":"string"},{"name":"consultations","in":"query","type":"string"},{"name":"roomId","in":"query","type":"string"},{"name":"minPrice","in":"query","type":"string"},{"name":"maxPrice","in":"query","type":"string"},{"name":"transactionType","in":"query","type":"string"},{"name":"page","in":"query","required":false,"type":"integer","description":"Page number for pagination (default: 1)","example":1},{"name":"limit","in":"query","required":false,"type":"integer","description":"Number of items per page (default: 50)","example":50},{"name":"sortBy","in":"query","required":false,"type":"string","enum":["latestFirst","oldestFirst","highestPrice","lowestPrice","longestDuration","shortestDuration"],"description":"Sort transactions by specified criteria (default: latestFirst)"}],"responses":{"default":{"description":""}}}},"/transactions/getTotalEarning":{"get":{"tags":["Transactions"],"summary":"Get total earning for astrologer","description":"","parameters":[],"responses":{"default":{"description":""}}}},"/transactions/refundIniitalByAstrologer":{"post":{"tags":["Transactions"],"summary":"Refund initial minutes by astrologer","description":"","parameters":[{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"roomId":{"type":"string","example":"room-3490e74e-cf1a-4781-8b79-68434ee38964"},"userId":{"type":"string","example":"691da49c281243bd6345349b"},"astrologerId":{"type":"string","example":"691b0e142f7a64f0520e5feb"},"minutes":{"type":"number","example":1}}}}],"responses":{"500":{"description":"Internal Server Error"}}}},"/transactions/invoice":{"get":{"tags":["Transactions"],"summary":"Generate invoice PDF or transaction statement (User & Astrologer)","description":"Works for both User and Astrologer tokens. The role is auto-detected from JWT. Three modes: (1) Single transaction invoice (user perspective) — shows debit amount. (2) Single transaction invoice (astrologer perspective) — shows credit/earning amount with platform commission. (3) Date range statement — pass startDate and endDate. Generates a passbook-style PDF with role-appropriate amounts, credit/debit totals, and net balance. Cached separately per role.","parameters":[{"name":"transactionId","in":"query","required":false,"type":"string","description":"Transaction history ObjectId (for single invoice)"},{"name":"startDate","in":"query","required":false,"type":"string","description":"Start date ISO string e.g. 2026-04-01 (for statement)"},{"name":"endDate","in":"query","required":false,"type":"string","description":"End date ISO string e.g. 2026-04-30 (for statement)"}],"responses":{"default":{"description":""}}}},"/subscriptions/all":{"get":{"tags":["Subscriptions"],"summary":"Get all subscriptions","description":"","responses":{"default":{"description":""}}}},"/subscriptions/subscription":{"get":{"tags":["Subscriptions"],"summary":"Get single subscription","description":"","parameters":[{"name":"subscriptionId","in":"query","required":true,"type":"string"}],"responses":{"default":{"description":""}}}},"/subscriptions/cancel":{"patch":{"tags":["Subscriptions"],"summary":"Cancel subscription","description":"","parameters":[{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"subscriptionId":{"type":"string","example":"sub_123"}}}}],"responses":{"default":{"description":""}}}},"/subscriptions/check":{"patch":{"tags":["Subscriptions"],"summary":"Check subscription status","description":"","parameters":[{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"subscriptionId":{"type":"string","example":"sub_123"}}}}],"responses":{"default":{"description":""}}}},"/subscription-entitlements/plans":{"get":{"description":"","responses":{"200":{"description":"OK"}}}},"/subscription-entitlements/features":{"get":{"description":"","parameters":[{"name":"includeInactive","in":"query","type":"string"},{"name":"category","in":"query","type":"string"}],"responses":{"200":{"description":"OK"}}}},"/subscription-entitlements/status":{"get":{"description":"","parameters":[],"responses":{"default":{"description":""}}}},"/subscription-entitlements/feature/check":{"post":{"description":"","parameters":[{"name":"featureKey","in":"query","type":"string"},{"name":"action","in":"query","type":"string"},{"name":"consume","in":"query","type":"string"},{"name":"referenceId","in":"query","type":"string"},{"name":"body","in":"body","schema":{"type":"object","properties":{"featureKey":{"example":"any"},"action":{"example":"any"},"consume":{"example":"any"},"referenceId":{"example":"any"},"metadata":{"example":"any"}}}}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"402":{"description":"Payment Required"}}}},"/subscription-entitlements/purchase/order/create":{"post":{"description":"","parameters":[{"name":"body","in":"body","schema":{"type":"object","properties":{"planId":{"example":"any"},"planCode":{"example":"any"},"device":{"example":"any"},"country":{"example":"any"}}}}],"responses":{"201":{"description":"Created"},"401":{"description":"Unauthorized"}}}},"/subscription-entitlements/purchase/wallet":{"post":{"description":"","parameters":[{"name":"body","in":"body","schema":{"type":"object","properties":{"planId":{"example":"any"},"planCode":{"example":"any"},"device":{"example":"any"},"country":{"example":"any"}}}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"}}}},"/subscription-entitlements/purchase/order/verify":{"post":{"description":"","parameters":[{"name":"body","in":"body","schema":{"type":"object","properties":{"orderId":{"example":"any"},"subscriptionOrderId":{"example":"any"},"orderStatus":{"example":"any"}}}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"404":{"description":"Not Found"}}}},"/subscription-entitlements/purchase/order/update":{"put":{"description":"","parameters":[{"name":"body","in":"body","schema":{"type":"object","properties":{"orderId":{"example":"any"},"subscriptionOrderId":{"example":"any"},"orderStatus":{"example":"any"}}}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"404":{"description":"Not Found"}}}},"/subscription-entitlements/purchase/activate":{"post":{"description":"","parameters":[],"responses":{"410":{"description":"Gone"}}}},"/subscription-entitlements/cancel":{"post":{"description":"","parameters":[],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"404":{"description":"Not Found"}}}},"/subscription-entitlements/admin/seed":{"post":{"description":"","parameters":[],"responses":{"200":{"description":"OK"}}}},"/subscription-entitlements/admin/plans":{"get":{"description":"","parameters":[],"responses":{"200":{"description":"OK"}}},"post":{"description":"","parameters":[{"name":"body","in":"body","schema":{"type":"object","properties":{"code":{"example":"any"},"adminName":{"example":"any"},"adminId":{"example":"any"}}}}],"responses":{"200":{"description":"OK"}}}},"/subscription-entitlements/admin/plans/{code}":{"put":{"description":"","parameters":[{"name":"code","in":"path","required":true,"type":"string"},{"name":"body","in":"body","schema":{"type":"object","properties":{"code":{"example":"any"},"adminName":{"example":"any"},"adminId":{"example":"any"}}}}],"responses":{"200":{"description":"OK"}}}},"/subscription-entitlements/admin/features":{"get":{"description":"","parameters":[],"responses":{"200":{"description":"OK"}}},"post":{"description":"","parameters":[{"name":"body","in":"body","schema":{"type":"object","properties":{"featureKey":{"example":"any"},"adminName":{"example":"any"},"adminId":{"example":"any"}}}}],"responses":{"200":{"description":"OK"}}}},"/subscription-entitlements/admin/features/{featureKey}":{"put":{"description":"","parameters":[{"name":"featureKey","in":"path","required":true,"type":"string"},{"name":"body","in":"body","schema":{"type":"object","properties":{"featureKey":{"example":"any"},"adminName":{"example":"any"},"adminId":{"example":"any"}}}}],"responses":{"200":{"description":"OK"}}}},"/subscription-entitlements/admin/audit-logs":{"get":{"description":"","parameters":[{"name":"page","in":"query","type":"string"},{"name":"limit","in":"query","type":"string"},{"name":"entityType","in":"query","type":"string"},{"name":"entityKey","in":"query","type":"string"}],"responses":{"200":{"description":"OK"}}}},"/wallets/credit":{"post":{"tags":["Wallets"],"summary":"Credit wallet","description":"","parameters":[{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"message":{"type":"string","example":"Wallet credit"},"amount":{"type":"number","example":100},"action":{"type":"string","example":"credit"},"type":{"type":"string","example":"coin"},"reason":{"type":"string","example":"purchase"},"plan_id":{"type":"number","example":101}}}}],"responses":{"default":{"description":""}}}},"/wallets/debit":{"post":{"tags":["Wallets"],"summary":"Debit wallet","description":"","parameters":[{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"message":{"type":"string","example":"Wallet debit"},"amount":{"type":"number","example":50},"action":{"type":"string","example":"debit"},"type":{"type":"string","example":"coin"},"reason":{"type":"string","example":"spent"},"plan_id":{"type":"number","example":101}}}}],"responses":{"default":{"description":""}}}},"/wallets/all":{"get":{"tags":["Wallets"],"summary":"Get wallet balance","description":"","responses":{"default":{"description":""}}}},"/wallets/preSessionBalanceCheck":{"get":{"description":"","parameters":[{"name":"astrologerId","in":"query","type":"string"},{"name":"type","in":"query","type":"string"},{"name":"isEmergency","in":"query","type":"string"}],"responses":{"default":{"description":""}}}},"/kundlis/create":{"post":{"tags":["Kundli"],"summary":"Create kundli","description":"","parameters":[{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"name":{"type":"string","example":"Ravi"},"gender":{"type":"string","example":"male"},"day":{"type":"number","example":1},"month":{"type":"number","example":1},"year":{"type":"number","example":1990},"hour":{"type":"number","example":10},"min":{"type":"number","example":30},"second":{"type":"number","example":0},"place":{"type":"string","example":"Delhi"},"lat":{"type":"number","example":28.6},"lon":{"type":"number","example":77.2},"tzone":{"type":"number","example":5.5}}}}],"responses":{"default":{"description":""}}}},"/kundlis/all":{"get":{"tags":["Kundli"],"summary":"Get all kundlis","description":"","parameters":[],"responses":{"default":{"description":""}}}},"/kundlis/kundli":{"get":{"tags":["Kundli"],"summary":"Get single kundli","description":"","parameters":[{"name":"kundliId","in":"query","required":true,"type":"string"}],"responses":{"default":{"description":""}}}},"/kundlis/delete":{"delete":{"tags":["Kundli"],"summary":"Delete kundli","description":"","parameters":[{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"kundliId":{"type":"string","example":"kundli_123"}}}}],"responses":{"default":{"description":""}}}},"/kundlis/editkundli/{kundli_ID}":{"put":{"description":"","parameters":[{"name":"kundli_ID","in":"path","required":true,"type":"string"}],"responses":{"500":{"description":"Internal Server Error"}}}},"/kundlis/kundli-pdf":{"get":{"tags":["Kundli"],"summary":"Generate Kundli PDF (Rs.10 per PDF)","description":"","parameters":[{"name":"force","in":"query","type":"string"},{"name":"id","in":"query","required":true,"type":"string","description":"Kundli ID"},{"name":"language","in":"query","required":false,"type":"string","default":"en","description":"Language code: en (English), hi (Hindi), mr (Marathi), gu (Gujarati), bn (Bengali), ka (Kannada), ml (Malayalam), ta (Tamil), te (Telugu), ne (Nepali), si (Sinhalese)"}],"responses":{"200":{"description":"OK"},"500":{"description":"Internal Server Error"}}}},"/kundlis/snapshot/{kundliId}":{"get":{"tags":["Kundli"],"summary":"Get full kundli snapshot data","description":"","parameters":[{"name":"kundliId","in":"path","required":true,"type":"string","description":"Kundli ID"}],"responses":{"default":{"description":""}}}},"/kundlis/upsert-snapshot":{"post":{"tags":["Kundli"],"summary":"Create or Update snapshot for a kundli","description":"","parameters":[{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"kundliId":{"type":"string","example":"kundli_id_here"}}}}],"responses":{"200":{"description":"OK"}}}},"/kundlis/generate-multilingual":{"post":{"tags":["Kundli"],"summary":"Generate multilingual data for a kundli","description":"","parameters":[{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"kundliId":{"type":"string","example":"mongoose_kundli_id"}}}}],"responses":{"200":{"description":"OK"},"500":{"description":"Internal Server Error"}}}},"/blogs/all":{"get":{"tags":["Blogs"],"summary":"Get all blogs, optionally filtered by category slug","description":"","parameters":[{"name":"categorized","in":"query","type":"string"},{"name":"page","in":"query","required":false,"type":"number"},{"name":"limit","in":"query","required":false,"type":"number"},{"name":"category","in":"query","required":false,"type":"string","description":"Category slug from GET /blogs/categories (e.g. vedic, laal-kitab)"},{"name":"sort","in":"query","required":false,"type":"string","enum":["newest","oldest"],"description":"Sort by publish date. Defaults to newest."}],"responses":{"default":{"description":""}}}},"/blogs/categories":{"get":{"tags":["Blogs"],"summary":"Get the blog category list for the sidebar / filter","description":"","parameters":[{"name":"page","in":"query","required":false,"type":"number"},{"name":"limit","in":"query","required":false,"type":"number"}],"responses":{"default":{"description":""}}}},"/blogs/single":{"get":{"tags":["Blogs"],"summary":"Get single horoscope blog","description":"","parameters":[{"name":"slug","in":"query","type":"string"},{"name":"blogId","in":"query","required":true,"type":"string"},{"name":"page","in":"query","required":false,"type":"number"},{"name":"limit","in":"query","required":false,"type":"number"}],"responses":{"default":{"description":""}}}},"/blogs/related":{"get":{"tags":["Blogs"],"summary":"Get related blogs based on matching tags, falls back to recent blogs if no tag match","description":"","parameters":[{"name":"blogId","in":"query","required":true,"type":"string","description":"ID of the current blog to find related blogs for"},{"name":"page","in":"query","required":false,"type":"number"},{"name":"limit","in":"query","required":false,"type":"number"}],"responses":{"default":{"description":""}}}},"/blogs/{slug}":{"get":{"tags":["Blogs"],"summary":"Get a single blog by its slug (SEO-friendly URL)","description":"","parameters":[{"name":"slug","in":"path","required":true,"type":"string","description":"Blog slug, e.g. why-maha-rudrabhishek-is-the-most-powerful-ritual"}],"responses":{"default":{"description":""}}}},"/astrologers/loginAstrologer":{"post":{"tags":["Astrologers"],"summary":"Login astrologer (send OTP)","description":"","parameters":[{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"phoneNumber":{"type":"string","example":"911234567890"},"type":{"type":"string","example":"ASTROLOGER"}}}}],"responses":{"default":{"description":""}}}},"/astrologers/verifyOtp":{"post":{"tags":["Astrologers"],"summary":"Verify OTP (astrologer login)","description":"","parameters":[{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"phoneNumber":{"type":"string","example":"911234567890"},"otp":{"type":"string","example":"123456"},"type":{"type":"string","example":"ASTROLOGER"}}}}],"responses":{"200":{"description":"OK"}}}},"/astrologers/registerAstrologer":{"post":{"tags":["Astrologers"],"summary":"Register/Complete astrologer profile","description":"Complete astrologer registration with profile details. Requires astrologer JWT token from OTP verification.","parameters":[{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"firstName":{"type":"string","example":"John"},"lastName":{"type":"string","example":"Doe"},"fullName":{"type":"string","example":"John Doe"},"gender":{"type":"string","example":"male"},"dateOfBirth":{"type":"string","example":"1990-01-01"},"email":{"type":"string","example":"astro@example.com"},"place":{"type":"string","example":"Delhi, India"},"phoneNumber":{"type":"string","example":"911234567890"},"password":{"type":"string","example":"password123"},"role":{"type":"string","example":"ASTROLOGER"},"experience":{"type":"number","example":5},"languagePreferences":{"type":"array","items":{"type":"object","properties":{"languageName":{"type":"string","example":"English"},"proficiencyLevel":{"type":"string","example":"intermediate"}}}},"specialties":{"type":"array","example":["Love","Marriage","Career"],"items":{"type":"string"}},"expertise":{"type":"array","example":["Vedic","Tarot","Numerology"],"items":{"type":"string"}},"description":{"type":"string","example":"Experienced Vedic astrologer with 5+ years of practice"},"education":{"type":"array","items":{"type":"object","properties":{"qualification":{"type":"string","example":"MA in Astrology"},"universityName":{"type":"string","example":"BHU"},"certificateImgUrl":{"type":"string","example":"https://example.com/cert.jpg"}}}},"achievements":{"type":"array","items":{"type":"object","properties":{"achievementName":{"type":"string","example":"Best Astrologer Award 2023"},"achievementImgUrl":{"type":"string","example":"https://example.com/award.jpg"},"display":{"type":"boolean","example":true}}}},"profileImgUrl":{"type":"string","example":"https://example.com/profile.jpg"},"aadharCardImgUrl":{"type":"string","example":"https://example.com/aadhar.jpg"},"panCardImgUrl":{"type":"string","example":"https://example.com/pan.jpg"},"price":{"type":"object","properties":{"audioRate":{"type":"object","properties":{"unit":{"type":"string","example":"minute"},"currency":{"type":"string","example":"INR"},"amount":{"type":"number","example":10}}},"chatRate":{"type":"object","properties":{"unit":{"type":"string","example":"minute"},"currency":{"type":"string","example":"INR"},"amount":{"type":"number","example":8}}},"videoCallRate":{"type":"object","properties":{"unit":{"type":"string","example":"minute"},"currency":{"type":"string","example":"INR"},"amount":{"type":"number","example":15}}}}},"availability":{"type":"array","items":{"type":"object","properties":{"day":{"type":"string","example":"tuesday"},"slots":{"type":"array","items":{"type":"object","properties":{"start":{"type":"string","example":"10:00"},"end":{"type":"string","example":"17:00"},"timezone":{"type":"string","example":"IST"}}}}}}},"tag":{"type":"string","example":"Top Rated"}}}}],"responses":{"default":{"description":""}}}},"/astrologers/resendOtp":{"post":{"tags":["Astrologers"],"summary":"Resend OTP (astrologer login)","description":"","parameters":[{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"phoneNumber":{"type":"string","example":"911234567890"},"type":{"type":"string","example":"ASTROLOGER"}}}}],"responses":{"default":{"description":""}}}},"/astrologers/account":{"delete":{"tags":["Astrologers"],"summary":"Delete astrologer account","description":"Soft deletes the authenticated astrologer account, marks them offline, clears push tokens, revokes sessions, and frees phone/email for future registration.","parameters":[{"name":"body","in":"body","required":false,"schema":{"type":"object","properties":{"reason":{"type":"string","example":"No longer using the app"}}}}],"responses":{"default":{"description":""}}}},"/astrologers/price":{"put":{"tags":["Astrologers"],"summary":"Update astrologer pricing","description":"","parameters":[{"name":"isEmergency","in":"query","type":"string"},{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"audioRate":{"type":"object","properties":{"unit":{"type":"string","example":"minute"},"currency":{"type":"string","example":"INR"},"amount":{"type":"number","example":10}}},"chatRate":{"type":"object","properties":{"unit":{"type":"string","example":"minute"},"currency":{"type":"string","example":"INR"},"amount":{"type":"number","example":8}}},"videoCallRate":{"type":"object","properties":{"unit":{"type":"string","example":"minute"},"currency":{"type":"string","example":"INR"},"amount":{"type":"number","example":12}}}}}}],"responses":{"default":{"description":""}}}},"/astrologers/availability":{"put":{"tags":["Astrologers"],"summary":"Update astrologer availability","description":"","parameters":[{"name":"body","in":"body","required":true,"schema":{"type":"array","items":{"type":"object","properties":{"day":{"type":"string","example":"Monday"},"slots":{"type":"array","items":{"type":"object","properties":{"start":{"type":"string","example":"09:00"},"end":{"type":"string","example":"12:00"},"timezone":{"type":"string","example":"IST"}}}}}}}}],"responses":{"default":{"description":""}}}},"/astrologers/acknowledge-terms":{"post":{"tags":["Astrologers"],"summary":"Acknowledge Terms & Conditions before going online","description":"","parameters":[],"responses":{"default":{"description":""}}}},"/astrologers/voice-note":{"delete":{"tags":["Astrologers"],"summary":"Delete voice note URL from astrologer profile","description":"","parameters":[],"responses":{"default":{"description":""}}}},"/astrologers/astrologer":{"get":{"tags":["Astrologers"],"summary":"Get astrologer profile (by id)","description":"","parameters":[{"name":"change","in":"query","type":"string"},{"name":"astrologerId","in":"query","required":true,"type":"string"},{"name":"earningsPeriod","in":"query","required":false,"type":"string","enum":["today","yesterday","week","month","custom"],"description":"Earnings summary period (default: month)"},{"name":"earningsFrom","in":"query","required":false,"type":"string","description":"Start date for custom period (YYYY-MM-DD)"},{"name":"earningsTo","in":"query","required":false,"type":"string","description":"End date for custom period (YYYY-MM-DD)"}],"responses":{"default":{"description":""}}}},"/astrologers/filter":{"get":{"tags":["Astrologers"],"summary":"Filter astrologers by specialties","description":"","parameters":[{"name":"filter","in":"query","type":"string"},{"name":"page","in":"query","required":false,"type":"number"},{"name":"limit","in":"query","required":false,"type":"number"},{"name":"specialties","in":"query","required":false,"type":"string","description":"Comma-separated list of specialties"}],"responses":{"default":{"description":""}}}},"/astrologers/single":{"get":{"tags":["Astrologers"],"summary":"Get single astrologer (by ID field)","description":"","parameters":[{"name":"astrologerId","in":"query","required":true,"type":"string"}],"responses":{"default":{"description":""}}}},"/astrologers/filterAstrologers":{"get":{"tags":["Astrologers"],"summary":"Filter astrologers with advanced filters","description":"Search and filter astrologers by name, skills, language, gender, rating, price, and experience. Supports sorting and pagination.","parameters":[{"name":"astroName","in":"query","required":false,"type":"string","description":"Search by astrologer first or last name (partial match)","example":"Sharma"},{"name":"skills","in":"query","required":false,"type":"string","description":"Comma-separated specialties or expertise slugs","example":"vastu,tarot,numerology"},{"name":"language","in":"query","required":false,"type":"string","description":"Filter by spoken language(s). Single value or comma-separated for multiple (OR logic). Case-insensitive.","example":"Hindi,English"},{"name":"gender","in":"query","required":false,"type":"string","description":"Filter by gender (case-insensitive)","example":"female"},{"name":"minRating","in":"query","required":false,"type":"number","description":"Minimum average rating (0-5)","example":4},{"name":"minPrice","in":"query","required":false,"type":"number","description":"Minimum per-minute rate in INR (applies across chat, audio, video rates)","example":10},{"name":"maxPrice","in":"query","required":false,"type":"number","description":"Maximum per-minute rate in INR (applies across chat, audio, video rates)","example":50},{"name":"minExperience","in":"query","required":false,"type":"number","description":"Minimum years of experience","example":3},{"name":"sort","in":"query","required":false,"type":"string","description":"Sort results by field and direction. rating_desc = highest rated first, rating_asc = lowest rated first, experience_desc = most experienced first, experience_asc = least experienced first, price_desc = highest price first, price_asc = lowest price first.","enum":["price_asc","price_desc","rating_asc","rating_desc","experience_asc","experience_desc"],"example":"rating_desc"},{"name":"isActive","in":"query","required":false,"type":"string","description":"Filter by online/active status","enum":["true","false"],"example":"true"},{"name":"page","in":"query","required":false,"type":"number","description":"Page number for pagination (default: 1)","example":1},{"name":"limit","in":"query","required":false,"type":"number","description":"Number of results per page (default: 10)","example":10}],"responses":{"default":{"description":""}}}},"/astrologers/updateStatus/":{"patch":{"tags":["Astrologers"],"summary":"Update astrologer online status","description":"","parameters":[{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"status":{"type":"string","example":"online"}}}}],"responses":{"default":{"description":""}}}},"/astrologers/recommendation":{"get":{"tags":["Astrologers"],"summary":"Get astrologer recommendations","description":"","parameters":[{"name":"astrologerId","in":"query","required":false,"type":"string"},{"name":"page","in":"query","required":false,"type":"number","description":"Page number (default: 1)"},{"name":"limit","in":"query","required":false,"type":"number","description":"Items per page (default: 10)"}],"responses":{"default":{"description":""}}}},"/astrologers/monthly-overview":{"get":{"tags":["Astrologers"],"summary":"Get overview with date filters","description":"","parameters":[{"name":"dateRange","in":"query","required":false,"type":"string","enum":["today","yesterday","last7days","last30days"],"description":"Predefined date range filter. Default: yesterday"},{"name":"customFromDate","in":"query","required":false,"type":"string","description":"Custom start date (YYYY-MM-DD). Required with customToDate"},{"name":"customToDate","in":"query","required":false,"type":"string","description":"Custom end date (YYYY-MM-DD). Required with customFromDate"}],"responses":{"default":{"description":""}}}},"/astrologers/recentActivites":{"get":{"description":"","parameters":[{"name":"page","in":"query","type":"string"},{"name":"limit","in":"query","type":"string"}],"responses":{"default":{"description":""}}}},"/astrologers/editProfileData":{"put":{"tags":["Astrologers"],"summary":"Edit astrologer profile data","description":"Update astrologer profile fields. At least one field is required.","parameters":[{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"firstName":{"type":"string","example":"John"},"lastName":{"type":"string","example":"Doe"},"fullName":{"type":"string","example":"John Doe"},"gender":{"type":"string","example":"male"},"dateOfBirth":{"type":"string","example":"1990-01-01"},"email":{"type":"string","example":"astro@example.com"},"profileImgUrl":{"type":"string","example":"https://example.com/profile.jpg"},"experience":{"type":"number","example":5},"description":{"type":"string","example":"Experienced astrologer"},"specialties":{"type":"array","example":[],"items":{}},"expertise":{"type":"array","example":[],"items":{}},"languagePreferences":{"type":"array","items":{"type":"object","properties":{"languageName":{"type":"string","example":"Hindi"},"proficiencyLevel":{"type":"string","example":"fluent"}}}},"education":{"type":"array","items":{"type":"object","properties":{"qualification":{"type":"string","example":"MA"},"universityName":{"type":"string","example":"BHU"},"certificateImgUrl":{"type":"string","example":"https://example.com/cert.jpg"},"display":{"type":"boolean","example":true}}}},"achievements":{"type":"array","items":{"type":"object","properties":{"achievementName":{"type":"string","example":"Award 2023"},"achievementImgUrl":{"type":"string","example":"https://example.com/award.jpg"},"display":{"type":"boolean","example":true}}}},"aadharCardImgUrl":{"type":"string","example":"https://example.com/aadhar.jpg"},"panCardImgUrl":{"type":"string","example":"https://example.com/pan.jpg"},"isEmergencyAvailable":{"type":"boolean","example":true},"availability":{"type":"array","items":{"type":"object","properties":{"day":{"type":"string","example":"monday"},"slots":{"type":"array","items":{"type":"object","properties":{"start":{"type":"string","example":"09:00"},"end":{"type":"string","example":"17:00"},"timezone":{"type":"string","example":"IST"}}}}}}}}}}],"responses":{"default":{"description":""}}}},"/astrologers/detail":{"get":{"tags":["Astrologers"],"summary":"Get astrologer detail page","description":"","parameters":[{"name":"astrologerId","in":"query","required":true,"type":"string","description":"Astrologer ID (ObjectId or numeric ID)"},{"name":"page","in":"query","required":false,"type":"number","description":"Page number for reviews (default: 1)"},{"name":"limit","in":"query","required":false,"type":"number","description":"Reviews per page (default: 10, max: 100)"}],"responses":{"default":{"description":""}}}},"/astrologers/withdrawRequest":{"post":{"tags":["Astrologers"],"summary":"Create withdrawal request","description":"Submit a withdrawal request for astrologer earnings. Requires astrologer JWT token.","parameters":[{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"requested_amount":{"type":"number","example":5000},"bank_detail":{"type":"object","properties":{"account_number":{"type":"string","example":"1234567890"},"ifsc_code":{"type":"string","example":"SBIN0001234"},"account_holder_name":{"type":"string","example":"John Doe"},"bank_name":{"type":"string","example":"State Bank of India"},"branch_name":{"type":"string","example":"Main Branch"},"account_type":{"type":"string","example":"savings"}}},"remarks":{"type":"string","example":"Monthly withdrawal"}}}}],"responses":{"default":{"description":""}}},"get":{"tags":["Astrologers"],"summary":"Get withdrawal requests","description":"Get all withdrawal requests for the authenticated astrologer with pagination.","parameters":[{"name":"page","in":"query","required":false,"type":"number","description":"Page number (default: 1)"},{"name":"limit","in":"query","required":false,"type":"number","description":"Items per page (default: 10)"}],"responses":{"default":{"description":""}}}},"/astrologers/withdrawRequest/invoice":{"get":{"tags":["Astrologer - Withdrawal"],"summary":"Generate or get cached payout receipt PDF","description":"Generates a payout receipt PDF for a paid withdrawal request. First call generates and uploads to S3, subsequent calls return cached URL.","parameters":[{"name":"withdrawlReqestId","in":"query","required":true,"type":"string","description":"Withdrawal request ObjectId"}],"responses":{"default":{"description":""}},"security":[{"BearerAuth":[]}]}},"/astrologers/attendance/calendar":{"get":{"tags":["Astrologer - Attendance"],"summary":"Attendance calendar (month view)","description":"Returns per-day online/offline summary for a month, plus the employment type and per-day attendance tag (absent/half_day/full_day for full-time; null for part-time). Defaults to the current IST month. Requires astrologer JWT.","parameters":[{"name":"year","in":"query","required":false,"type":"number","description":"Year (e.g. 2026). Defaults to current IST year."},{"name":"month","in":"query","required":false,"type":"number","description":"Month 1-12. Defaults to current IST month."}],"responses":{"default":{"description":""}}}},"/astrologers/attendance/day":{"get":{"tags":["Astrologer - Attendance"],"summary":"Day detail view (hourly breakdown + summary)","description":"Returns the online/offline time-slot breakdown and day summary (total online/offline time). For full-time astrologers the summary includes an attendanceStatus tag (absent/half_day/full_day) derived from online hours; part-time astrologers get no tag (null). Requires astrologer JWT.","parameters":[{"name":"date","in":"query","required":true,"type":"string","description":"IST date in YYYY-MM-DD"}],"responses":{"default":{"description":""}}}},"/mall/homepage":{"get":{"tags":["AstroMall"],"summary":"Get dynamic mall page with list items and products","description":"Returns page configuration with all active list items. Product-slider items automatically fetch 10 products. Browse-by-category returns CMS-managed content.","parameters":[{"name":"slug","in":"query","type":"string","default":"astromallpage","description":"Page slug"}],"responses":{"200":{"description":"Success","schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"ID":{"type":"number","example":3},"title":{"type":"string","example":"AstroMall Page"},"slug":{"type":"string","example":"astromallpage"},"list":{"type":"array","items":{"type":"object","properties":{"ID":{"type":"number","example":1},"title":{"type":"string","example":"Top deals for you"},"slug":{"type":"string","example":"top-deals-for-you"},"display_title":{"type":"string","example":"Top deals for you"},"display_type":{"type":"string","example":"product-slider"},"show_more":{"type":"boolean","example":true},"list_order":{"type":"number","example":1},"content":{"type":"array","items":{"type":"object","properties":{"ID":{"type":"number","example":10},"title":{"type":"string","example":"Product Name"},"slug":{"type":"string","example":"product-slug"},"price":{"type":"number","example":130},"mrp":{"type":"number","example":160}}}}}}}}}},"xml":{"name":"main"}}},"400":{"description":"Bad Request"},"404":{"description":"Not Found"}}}},"/mall/products":{"get":{"tags":["AstroMall"],"summary":"Get all products with filters","description":"Fetch products with various filters. Products have embedded categories and tags. Supports pagination, filtering by title, tags, price range, and sorting.","parameters":[{"name":"page","in":"query","type":"integer","default":1,"description":"Page number for pagination"},{"name":"limit","in":"query","type":"integer","default":10,"description":"Items per page (max 100)"},{"name":"category","in":"query","type":"number","description":"Filter by Category ID (numeric)"},{"name":"brand","in":"query","type":"string","description":"Filter by brand name (case-insensitive)"},{"name":"tag","in":"query","type":"number","description":"Filter by Tag ID (numeric)"},{"name":"tagName","in":"query","type":"string","description":"Filter by tag name (case-insensitive, partial match)"},{"name":"title","in":"query","type":"string","description":"Filter by product title (case-insensitive, partial match)"},{"name":"type","in":"query","type":"string","enum":["physical","digital","service","combo"],"description":"Filter by product type"},{"name":"slug","in":"query","type":"string","description":"Filter by product slug"},{"name":"search","in":"query","type":"string","description":"Search across title, description, tags, brand (case-insensitive)"},{"name":"featured","in":"query","type":"string","enum":["true","false"],"description":"Filter featured products"},{"name":"status","in":"query","type":"string","enum":["true","false"],"description":"Filter by status (default: true - active products only)"},{"name":"minPrice","in":"query","type":"number","description":"Minimum price filter (inclusive)"},{"name":"maxPrice","in":"query","type":"number","description":"Maximum price filter (inclusive)"},{"name":"sort","in":"query","type":"string","enum":["price_asc","price_desc","rating","title","newest"],"description":"Sort order: price_asc (low to high), price_desc (high to low), rating (highest first), title (A-Z), newest (latest first)"},{"name":"purpose","in":"query","type":"string","description":"Filter by purpose (e.g., spiritual, love)"}],"responses":{"200":{"description":"Success","schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"array","items":{"type":"object","properties":{"ID":{"type":"number","example":10},"title":{"type":"string","example":"Test Product"},"slug":{"type":"string","example":"test-product"},"sku":{"type":"string","example":"product-2"},"type":{"type":"string","example":"physical"},"brand":{"type":"string","example":"Puma"},"category":{"type":"array","items":{"type":"object","properties":{"ID":{"type":"number","example":1},"name":{"type":"string","example":"Test"},"slug":{"type":"string","example":"test"},"parent_id":{}}}},"tags":{"type":"array","items":{"type":"object","properties":{"ID":{"type":"number","example":1},"name":{"type":"string","example":"Test"},"slug":{"type":"string","example":"test"}}}},"price":{"type":"number","example":130},"mrp":{"type":"number","example":160},"stock":{"type":"number","example":13},"images":{"type":"array","example":["https://example.com/image.jpg"],"items":{"type":"string"}},"rating":{"type":"object","properties":{"average":{"type":"number","example":4.5},"totalReviews":{"type":"number","example":10}}}}}},"pagination":{"type":"object","properties":{"page":{"type":"number","example":1},"limit":{"type":"number","example":10},"total":{"type":"number","example":100},"pages":{"type":"number","example":10}}}},"xml":{"name":"main"}}},"500":{"description":"Internal Server Error"}}}},"/mall/products/id/{id}":{"get":{"tags":["AstroMall"],"summary":"Get product by numeric ID","description":"Fetch single product details by numeric ID","parameters":[{"name":"id","in":"path","required":true,"type":"number","description":"Product ID (numeric)"}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}}}},"/mall/products/{slug}":{"get":{"tags":["AstroMall"],"summary":"Get product by slug","description":"Fetch single product details by slug","parameters":[{"name":"slug","in":"path","required":true,"type":"string","description":"Product slug"}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}}}},"/mall/product-categories":{"get":{"tags":["AstroMall"],"summary":"Get all product categories","description":"Fetch categories with optional filters. Categories use numeric IDs and parent_id for hierarchy.","parameters":[{"name":"parent_id","in":"query","type":"number","description":"Filter by parent category ID (use null for root categories)"},{"name":"status","in":"query","type":"string","enum":["true","false"],"description":"Filter by status"}],"responses":{"200":{"description":"Success","schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"array","items":{"type":"object","properties":{"ID":{"type":"number","example":1},"name":{"type":"string","example":"Test Category"},"slug":{"type":"string","example":"test-category"},"list_order":{"type":"number","example":1},"parent_id":{},"imgUrl":{"type":"string","example":"https://example.com/image.png"},"status":{"type":"boolean","example":true}}}}},"xml":{"name":"main"}}},"500":{"description":"Internal Server Error"}}}},"/mall/product-categories/id/{id}":{"get":{"tags":["AstroMall"],"summary":"Get category by numeric ID","description":"Fetch single category with subcategories by numeric ID","parameters":[{"name":"id","in":"path","required":true,"type":"number","description":"Category ID (numeric)"}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}}}},"/mall/product-categories/{slug}":{"get":{"tags":["AstroMall"],"summary":"Get category by slug","description":"Fetch single category with subcategories","parameters":[{"name":"slug","in":"path","required":true,"type":"string","description":"Category slug"}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}}}},"/mall/product-reviews":{"post":{"tags":["AstroMall"],"summary":"Create a product review","description":"Create a review for a product. User can only review each product once.","parameters":[{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"productId":{"type":"string","example":"699593448551c073bf0c3e32"},"rating":{"type":"number","example":5},"title":{"type":"string","example":"Great product!"},"comment":{"type":"string","example":"Very satisfied"}}},"description":"productId is ObjectId"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"400":{"description":"Bad Request"},"404":{"description":"Not Found"}},"security":[{"BearerAuth":[]}]}},"/mall/product-reviews/product/{productId}":{"get":{"tags":["AstroMall"],"summary":"Get reviews for a product","description":"Fetch all reviews for a specific product with pagination","parameters":[{"name":"productId","in":"path","required":true,"type":"string","description":"Product ObjectId"},{"name":"page","in":"query","type":"integer","default":1},{"name":"limit","in":"query","type":"integer","default":10},{"name":"rating","in":"query","type":"integer","description":"Filter by rating (1-5)"}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"500":{"description":"Internal Server Error"}}}},"/mall/product-reviews/{id}":{"put":{"tags":["AstroMall"],"summary":"Update own review","description":"Update user own review. Users can only update their own reviews.","parameters":[{"name":"id","in":"path","required":true,"type":"string","description":"Review ObjectId"},{"name":"body","in":"body","schema":{"type":"object","properties":{"rating":{"type":"number","example":4},"title":{"type":"string","example":"Updated title"},"comment":{"type":"string","example":"Updated comment"}}}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"404":{"description":"Not Found"}},"security":[{"BearerAuth":[]}]},"delete":{"tags":["AstroMall"],"summary":"Delete own review","description":"Delete user own review. Users can only delete their own reviews.","parameters":[{"name":"id","in":"path","required":true,"type":"string","description":"Review ObjectId"}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"security":[{"BearerAuth":[]}]}},"/mall/product-reviews/{id}/moderate":{"patch":{"tags":["AstroMall"],"summary":"Moderate a review (Admin)","description":"Admin endpoint to approve/reject reviews and add admin replies","parameters":[{"name":"id","in":"path","required":true,"type":"string","description":"Review ObjectId"},{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"status":{"type":"string","example":"approved"},"adminReply":{"type":"string","example":"Thank you!"}}},"description":"status: pending, approved, or rejected"}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"404":{"description":"Not Found"}}}},"/mall/cart":{"get":{"tags":["AstroMall"],"summary":"Get user cart","description":"Retrieve current user cart with variant details. Returns status for each item: available, price_changed, out_of_stock, unavailable. Use ?compact=true for flat response without full product object.","parameters":[{"name":"compact","in":"query","type":"string","enum":["true","false"],"description":"If true, returns flat items with productId as string (no full product object). Default: false"}],"responses":{"200":{"description":"Success","schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"productId":{"type":"object","properties":{"ID":{"type":"number","example":10},"title":{"type":"string","example":"Product Name"}}},"variantId":{"type":"string","example":"507f1f77bcf86cd799439102"},"variantSnapshot":{"type":"object","properties":{"skuCode":{"type":"string","example":"GEM_0096_5_R_PD"},"title":{"type":"string","example":"Ring / 5 Ratti / Panchdhatu"},"attributes":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","example":"Type"},"value":{"type":"string","example":"Ring"}}}}}},"quantity":{"type":"number","example":2},"priceAtAdd":{"type":"number","example":16199},"currentPrice":{"type":"number","example":16199},"status":{"type":"string","example":"available"}}}},"totalAmount":{"type":"number","example":32398},"totalItems":{"type":"number","example":2}}}},"xml":{"name":"main"}}},"400":{"description":"Bad Request"}},"security":[{"BearerAuth":[]}]},"post":{"tags":["AstroMall"],"summary":"Add item to cart","description":"Add product variant to cart. Requires both productId and variantId.","parameters":[{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"productId":{"type":"string","example":"10"},"variantId":{"type":"string","example":"507f1f77bcf86cd799439102"},"quantity":{"type":"number","example":1}}},"description":"productId can be numeric ID or ObjectId. variantId is the variant._id from product.variants array"}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"404":{"description":"Not Found"}},"security":[{"BearerAuth":[]}]},"delete":{"tags":["AstroMall"],"summary":"Clear entire cart","description":"Remove all items from user cart","parameters":[],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"404":{"description":"Not Found"}},"security":[{"BearerAuth":[]}]}},"/mall/cart/{productId}/{variantId}":{"put":{"tags":["AstroMall"],"summary":"Update cart item quantity","description":"Update quantity of specific variant in cart.","parameters":[{"name":"productId","in":"path","required":true,"type":"string","description":"Product ID (numeric or ObjectId)"},{"name":"variantId","in":"path","required":true,"type":"string","description":"Variant ObjectId"},{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"quantity":{"type":"number","example":2}}}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"404":{"description":"Not Found"}},"security":[{"BearerAuth":[]}]},"delete":{"tags":["AstroMall"],"summary":"Remove item from cart","description":"Remove specific variant from cart.","parameters":[{"name":"productId","in":"path","required":true,"type":"string","description":"Product ID (numeric or ObjectId)"},{"name":"variantId","in":"path","required":true,"type":"string","description":"Variant ObjectId"}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"404":{"description":"Not Found"}},"security":[{"BearerAuth":[]}]}},"/mall/orders/history":{"get":{"tags":["AstroMall"],"summary":"Get user purchase history","description":"Fetch all orders placed by the user with filtering and pagination","parameters":[{"name":"page","in":"query","type":"integer","default":1,"description":"Page number"},{"name":"limit","in":"query","type":"integer","default":10,"description":"Items per page (max 50)"},{"name":"order_status","in":"query","type":"string","enum":["pending","confirmed","completed","cancelled"],"description":"Filter by order status"},{"name":"payment_status","in":"query","type":"string","enum":["pending","paid","failed","cod_pending"],"description":"Filter by payment status"},{"name":"payment_method","in":"query","type":"string","enum":["cod","online"],"description":"Filter by payment method"},{"name":"from_date","in":"query","type":"string","description":"Filter orders from date (ISO format)"},{"name":"to_date","in":"query","type":"string","description":"Filter orders to date (ISO format)"},{"name":"sort","in":"query","type":"string","enum":["newest","oldest","amount_high","amount_low"],"default":"newest","description":"Sort order"}],"responses":{"200":{"description":"OK"},"500":{"description":"Internal Server Error"}},"security":[{"BearerAuth":[]}]}},"/mall/orders":{"get":{"tags":["AstroMall"],"summary":"Get user orders","description":"Get all orders for the logged-in user with pagination","parameters":[{"name":"page","in":"query","type":"integer","default":1},{"name":"limit","in":"query","type":"integer","default":10},{"name":"status","in":"query","type":"string","enum":["pending","confirmed","processing","shipped","out_for_delivery","delivered","cancelled","return_requested","returned"],"description":"Filter by order status"}],"responses":{"200":{"description":"OK"},"500":{"description":"Internal Server Error"}},"security":[{"BearerAuth":[]}]},"post":{"tags":["AstroMall"],"summary":"Create product order","description":"Create order with variant support. Each item requires productId and variantId. Stock is deducted from variant level. GST calculated per product using product.gst field. Backend verifies FE amounts (rounded match). For COD: order confirmed immediately. For online: Razorpay order created.","parameters":[{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"productId":{"type":"string","example":"10"},"variantId":{"type":"string","example":"507f1f77bcf86cd799439102"},"quantity":{"type":"number","example":1}}}},"cartId":{"type":"string","example":"507f1f77bcf86cd799439103"},"sub_total":{"type":"number","example":1000},"gst_amount":{"type":"number","example":180},"shipping_charge":{"type":"number","example":50},"cod_charge":{"type":"number","example":40},"total_amount":{"type":"number","example":1270},"coupon":{"type":"object","properties":{"code":{"type":"string","example":"SAVE10"},"discount_amount":{"type":"number","example":100}}},"payment_method":{"type":"string","example":"cod"},"shipping_address":{"type":"object","properties":{"name":{"type":"string","example":"John"},"phone":{"type":"string","example":"9876543210"},"address":{"type":"string","example":"78, Sample St"},"city":{"type":"string","example":"Mumbai"},"state":{"type":"string","example":"MH"},"pincode":{"type":"number","example":400001}}},"notes":{"type":"string","example":"Sample order"}}},"description":"sub_total, gst_amount, total_amount from FE are verified against BE calculation. Formula: total_amount = sub_total + gst_amount + shipping_charge + cod_charge - discount. Coupon validated and marked as used."}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"security":[{"BearerAuth":[]}]}},"/mall/orders/{orderId}":{"get":{"tags":["AstroMall"],"summary":"Get single order or print invoice","description":"Get order details by ID. Pass printInvoice=true to generate/get cached invoice PDF (S3 URL).","parameters":[{"name":"orderId","in":"path","required":true,"type":"string","description":"Order ObjectId"},{"name":"printInvoice","in":"query","required":false,"type":"string","enum":["true","false"],"description":"Set to true to generate and return invoice PDF URL"}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"security":[{"BearerAuth":[]}]},"put":{"tags":["AstroMall"],"summary":"Verify payment and complete order","description":"After Razorpay payment, call this to verify and complete order. COD orders rejected. SUCCESS: payment_status=paid, order_status=confirmed. FAILED/CANCELLED: restores variant stock.","parameters":[{"name":"orderId","in":"path","required":true,"type":"string","description":"Order ObjectId from createOrder response"},{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"payment_status":{"type":"string","example":"paid"},"order_status":{"type":"string","example":"completed"}}}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"security":[{"BearerAuth":[]}]}},"/mall/orders/{orderId}/status":{"patch":{"tags":["AstroMall"],"summary":"Update order status (Admin)","description":"Admin endpoint to update order status, payment status, and tracking info. Cancellation restores variant stock.","parameters":[{"name":"orderId","in":"path","required":true,"type":"string","description":"Order ObjectId"},{"name":"body","in":"body","schema":{"type":"object","properties":{"order_status":{"type":"string","example":"shipped"},"payment_status":{"type":"string","example":"paid"},"tracking":{"type":"object","properties":{"courier":{"type":"string","example":"Delhivery"},"tracking_number":{"type":"string","example":"DL123456"},"tracking_url":{"type":"string","example":"https://track.delhivery.com/DL123456"},"estimated_delivery":{"type":"string","example":"2024-01-15"}}},"notes":{"type":"string","example":"Shipped via Delhivery"}}}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"security":[{"BearerAuth":[]}]}},"/mall/shipping/config":{"get":{"tags":["AstroMall"],"summary":"Get shipping configuration","description":"Returns shipping settings like free shipping threshold, flat rate, COD charges, delivery estimates","responses":{"200":{"description":"Success","schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"free_shipping_enabled":{"type":"boolean","example":true},"free_shipping_min_amount":{"type":"number","example":999},"shipping_charge":{"type":"number","example":0},"cod_enabled":{"type":"boolean","example":true},"cod_charge":{"type":"number","example":0},"estimated_delivery_days":{"type":"object","properties":{"min":{"type":"number","example":3},"max":{"type":"number","example":7}}}}}},"xml":{"name":"main"}}},"500":{"description":"Internal Server Error"}}}},"/mall/shipping/calculate":{"post":{"tags":["AstroMall"],"summary":"Calculate shipping charge","description":"Calculate shipping and COD charges. Both returned separately.","parameters":[{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"order_amount":{"type":"number","example":1000},"payment_method":{"type":"string","example":"cod"}}},"description":"order_amount required. payment_method (cod/online) to get COD charge"}],"responses":{"200":{"description":"Success","schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"shipping_charge":{"type":"number","example":0},"cod_charge":{"type":"number","example":0},"is_free_shipping":{"type":"boolean","example":true},"is_cod":{"type":"boolean","example":true},"free_shipping_min_amount":{"type":"number","example":999},"estimated_delivery_days":{"type":"object","properties":{"min":{"type":"number","example":3},"max":{"type":"number","example":7}}}}}},"xml":{"name":"main"}}},"400":{"description":"Bad Request"},"500":{"description":"Internal Server Error"}}}},"/mall/coupons":{"get":{"tags":["AstroMall"],"summary":"Get available coupons","description":"Returns list of active coupons with user-specific usage status. is_used=true means user has exhausted their limit.","parameters":[],"responses":{"200":{"description":"Success","schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"SAVE10"},"discount_type":{"type":"string","example":"percentage"},"discount_value":{"type":"number","example":10},"min_order_value":{"type":"number","example":500},"max_discount":{"type":"number","example":100},"valid_until":{"type":"string","example":"2024-12-31T23:59:59.000Z"},"is_used":{"type":"boolean","example":false},"remaining_uses":{"type":"number","example":1}}}}},"xml":{"name":"main"}}},"500":{"description":"Internal Server Error"}},"security":[{"BearerAuth":[]}]}},"/mall/coupons/validate":{"post":{"tags":["AstroMall"],"summary":"Validate and apply coupon","description":"Validates coupon code against cart total and returns discount amount. Use at checkout before order creation.","parameters":[{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"code":{"type":"string","example":"SAVE10"},"cart_total":{"type":"number","example":1000}}},"description":"code: coupon code, cart_total: current cart subtotal"}],"responses":{"200":{"description":"Success","schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"message":{"type":"string","example":"Coupon applied successfully"},"data":{"type":"object","properties":{"code":{"type":"string","example":"SAVE10"},"discount_type":{"type":"string","example":"percentage"},"discount_value":{"type":"number","example":10},"discount_amount":{"type":"number","example":100},"min_order_value":{"type":"number","example":500},"max_discount":{"type":"number","example":100}}}},"xml":{"name":"main"}}},"400":{"description":"Bad Request"},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"security":[{"BearerAuth":[]}]}},"/mall/product/suggestion/{slug}":{"get":{"tags":["AstroMall"],"summary":"Get product suggestions","description":"Get related product suggestions based on purpose (excludes Gifting). Returns max 10 products.","parameters":[{"name":"slug","in":"path","required":true,"type":"string","description":"Product slug"}],"responses":{"200":{"description":"Success","schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"array","items":{"type":"object","properties":{"_id":{"type":"string","example":"69ba46631521e5ef1706c958"},"title":{"type":"string","example":"Related Product"},"slug":{"type":"string","example":"related-product"},"purpose":{"type":"array","items":{"type":"object","properties":{"title":{"type":"string","example":"Career"},"slug":{"type":"string","example":"career"}}}},"variants":{"type":"array","example":[],"items":{}}}}}},"xml":{"name":"main"}}},"400":{"description":"Bad Request"},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}}}},"/homepage/":{"get":{"tags":["Homepage"],"summary":"Get homepage data","description":"","parameters":[{"name":"slug","in":"query","type":"string"},{"name":"pageNo","in":"query","type":"string"},{"name":"limit","in":"query","type":"string"}],"responses":{"default":{"description":""}}}},"/homepage/v2-app":{"get":{"description":"","parameters":[{"name":"slug","in":"query","type":"string"}],"responses":{"default":{"description":""}}}},"/callSessions/agoraToken":{"get":{"tags":["Calls"],"summary":"Get Agora token","description":"","parameters":[],"responses":{"default":{"description":""}}}},"/callSessions/agoraTokenWithUid":{"get":{"tags":["Calls"],"summary":"Get Agora token with UID","description":"","parameters":[{"name":"channelName","in":"query","required":true,"type":"string"}],"responses":{"default":{"description":""}}}},"/callSessions/agoraRtmToken":{"get":{"tags":["Calls"],"summary":"Get Agora RTM token","description":"","parameters":[{"name":"userId","in":"query","required":true,"type":"string"},{"name":"astrologerId","in":"query","required":true,"type":"string"}],"responses":{"default":{"description":""}}}},"/callSessions/callHistory":{"get":{"tags":["Calls"],"summary":"Get call history","description":"Fetch audio/video call history with filters for date range, call type, and amount. Returns totalDuration in seconds (e.g. 11.016).","parameters":[{"name":"astrologerId","in":"query","required":false,"type":"string","description":"Filter by astrologer ObjectId","example":"664f1b2c8e4b2a001c8d5678"},{"name":"userId","in":"query","required":false,"type":"string","description":"Filter by user ObjectId","example":"664f1b2c8e4b2a001c8d1234"},{"name":"roomId","in":"query","required":false,"type":"string","description":"Filter by room ID (call session channel identifier)","example":"room-abc123"},{"name":"type","in":"query","required":false,"type":"string","enum":["audio","video","chat"],"description":"Legacy single-value filter on the session final type. Prefer filterBy. Omit to return both audio and video calls.","example":"audio"},{"name":"filterBy","in":"query","required":false,"type":"string","description":"Filter by session type, matched on the final/displayed type. Single value or comma-separated for multiple (audio, video, chat) e.g. 'audio,video'. Sessions that switched through audio/video but ended as chat have type=chat and are returned only under a chat filter. Default: audio,video.","example":"audio,video"},{"name":"fromDate","in":"query","required":false,"type":"string","description":"Start date for custom date range (YYYY-MM-DD). Must be used together with toDate.","example":"2026-01-01"},{"name":"toDate","in":"query","required":false,"type":"string","description":"End date for custom date range (YYYY-MM-DD). Must be used together with fromDate.","example":"2026-01-31"},{"name":"month","in":"query","required":false,"type":"string","description":"Filter by month name or number (e.g. January, Jan, 1). Ignored if fromDate/toDate is provided.","example":"January"},{"name":"year","in":"query","required":false,"type":"integer","description":"Filter by year (e.g. 2026). Can be used with month or alone to fetch the full year.","example":2026},{"name":"minAmount","in":"query","required":false,"type":"number","description":"Minimum billed amount for the call (inclusive)","example":50},{"name":"maxAmount","in":"query","required":false,"type":"number","description":"Maximum billed amount for the call (inclusive)","example":500},{"name":"sortOrder","in":"query","required":false,"type":"string","enum":["asc","desc","price_asc","price_desc"],"description":"Sort call history. asc = oldest first, desc = newest first, price_asc = lowest billed amount first, price_desc = highest billed amount first. Default: desc","example":"price_asc"},{"name":"page","in":"query","required":false,"type":"integer","default":1,"description":"Page number for pagination","example":1},{"name":"limit","in":"query","required":false,"type":"integer","default":30,"description":"Number of records per page","example":30}],"responses":{"200":{"description":"Success","schema":{"type":"object","properties":{"status":{"type":"number","example":200},"message":{"type":"string","example":"Data fetched successfully"},"data":{"type":"object","properties":{"callHistory":{"type":"array","items":{"type":"object","properties":{"_id":{"type":"string","example":"objectId"},"callerId":{"type":"string","example":"objectId"},"callerName":{"type":"string","example":"John Doe"},"receiverId":{"type":"string","example":"objectId"},"receiverName":{"type":"string","example":"Astrologer Name"},"type":{"type":"string","example":"audio"},"recurring":{"type":"boolean","example":false},"status":{"type":"string","example":"completed"},"duration":{"type":"number","example":5},"totalDuration":{"type":"number","example":11.016},"amount":{"type":"number","example":250},"timestamp":{"type":"string","example":"2026-01-01T10:00:00.000Z"},"roomId":{"type":"string","example":"room-uuid"},"recordingUrl":{},"user_ID":{"type":"number","example":101},"astrologer_ID":{"type":"number","example":202},"astrologerProfileImgUrl":{"type":"string","example":"https://..."},"rating":{"type":"number","example":4}}}},"pagination":{"type":"object","properties":{"currentPage":{"type":"number","example":1},"totalPages":{"type":"number","example":5},"totalItems":{"type":"number","example":50},"itemsPerPage":{"type":"number","example":30},"hasNextPage":{"type":"boolean","example":true},"hasPreviousPage":{"type":"boolean","example":false}}}}}},"xml":{"name":"main"}}}}}},"/callSessions/recordings/inbox/{receiverId}":{"get":{"tags":["Calls"],"summary":"Get all recording URLs between users","description":"Fetches all audio and video recording URLs from sessions between the logged-in user and the specified receiver (astrologer or customer)","parameters":[{"name":"receiverId","in":"path","required":true,"type":"string","description":"ID of the astrologer (if customer) or customer (if astrologer)"}],"responses":{"default":{"description":""}}}},"/callSessions/activeSessions":{"get":{"tags":["Calls"],"summary":"Get active/pending sessions","description":"Returns all sessions in ringing, waiting, astrologer_accepted, on_hold, or on-going status for the logged-in user. Used to restore state after app kill/restart.","parameters":[],"responses":{"default":{"description":""}}}},"/categories/all":{"get":{"tags":["Categories"],"summary":"Get all categories","description":"","parameters":[{"name":"page","in":"query","required":false,"type":"number","description":"Page number"},{"name":"limit","in":"query","required":false,"type":"number","description":"Items per page"}],"responses":{"default":{"description":""}}}},"/categories/single":{"get":{"tags":["Categories"],"summary":"Get single category by ID","description":"","parameters":[{"name":"categoryId","in":"query","required":true,"type":"number","description":"Category ID"}],"responses":{"default":{"description":""}}}},"/ePoojas/all":{"get":{"tags":["E-Pooja"],"summary":"Get all e-poojas","description":"","parameters":[{"name":"categoryId","in":"query","required":false,"type":"string"},{"name":"category_ID","in":"query","required":false,"type":"string"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"description","in":"query","required":false,"type":"string"},{"name":"imgUrl","in":"query","required":false,"type":"string"},{"name":"redirectionUrl","in":"query","required":false,"type":"string"},{"name":"tag","in":"query","required":false,"type":"string","description":"Comma-separated tags"},{"name":"slug","in":"query","required":false,"type":"string"},{"name":"status","in":"query","required":false,"type":"boolean"},{"name":"page","in":"query","required":false,"type":"number"},{"name":"limit","in":"query","required":false,"type":"number"}],"responses":{"default":{"description":""}}}},"/ePoojas/single":{"get":{"tags":["E-Pooja"],"summary":"Get single e-pooja","description":"","parameters":[{"name":"poojaId","in":"query","required":false,"type":"string"},{"name":"slug","in":"query","required":false,"type":"string"}],"responses":{"default":{"description":""}}}},"/ePoojas/poojaris":{"get":{"description":"","parameters":[{"name":"epooja_ID","in":"query","type":"string"},{"name":"page","in":"query","type":"string"},{"name":"limit","in":"query","type":"string"}],"responses":{"default":{"description":""}}}},"/calculators/love":{"post":{"tags":["Calculators"],"summary":"Love calculator","description":"Calculates a love percentage and returns a short interpretation based on the score.","parameters":[{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"name1":{"type":"string","example":"John"},"gender1":{"type":"string","example":"male"},"name2":{"type":"string","example":"Jane"},"gender2":{"type":"string","example":"female"}}}}],"responses":{"default":{"description":""}}}},"/calculators/flames":{"post":{"tags":["Calculators"],"summary":"Flames calculator","description":"Returns the FLAMES relationship result along with a short description.","parameters":[{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"name1":{"type":"string","example":"John"},"name2":{"type":"string","example":"Jane"}}}}],"responses":{"default":{"description":""}}}},"/calculators/friendship":{"post":{"tags":["Calculators"],"summary":"Friendship calculator","description":"Calculates friendship compatibility percentage with a label and analysis.","parameters":[{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"name1":{"type":"string","example":"John"},"name2":{"type":"string","example":"Jane"}}}}],"responses":{"default":{"description":""}}}},"/calculators/age":{"post":{"tags":["Calculators"],"summary":"Age calculator","description":"Returns the age breakdown in years, months, and days.","parameters":[{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"dob":{"type":"string","example":"1996-03-15"},"asOf":{"type":"string","example":"2025-12-31"}}}}],"responses":{"default":{"description":""}}}},"/calculators/mobile-numerology":{"post":{"tags":["Calculators"],"summary":"Mobile number numerology calculator","description":"Calculates mobile number numerology and compatibility with destiny number.","parameters":[{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"dob":{"type":"string","example":"1996-03-15"},"mobile":{"type":"string","example":"9876543210"}}}}],"responses":{"default":{"description":""}}}},"/calculators/vehicle-numerology":{"post":{"tags":["Calculators"],"summary":"Lucky vehicle number calculator","description":"Calculates vehicle number numerology and compatibility with destiny number.","parameters":[{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"dob":{"type":"string","example":"1996-03-15"},"vehicle":{"type":"string","example":"MH01AB1234"}}}}],"responses":{"default":{"description":""}}}},"/calculators/lucky-name-numerology":{"post":{"tags":["Calculators"],"summary":"Lucky name numerology calculator","description":"Calculates the name number using the Cheiro, Chaldean or Pythagorean system and (when a DOB is given) its harmony with the birth numbers (mulank & bhagyank).","parameters":[{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"name":{"type":"string","example":"John Doe"},"dob":{"type":"string","example":"1996-03-15"},"system":{"type":"string","example":"chaldean"}}}}],"responses":{"default":{"description":""}}}},"/calculators/lo-shu-grid":{"post":{"tags":["Calculators"],"summary":"Lo Shu grid calculator","description":"Builds the 3x3 Lo Shu magic-square grid from a date of birth, marking which numbers are prese
[...]
